.challenge-main-table {
	background-color: #eee;
	border: 1px solid #ccc;
	border-collapse: collapse;
	padding: 8px;
}

.challenge-title {
	color: #78ba5d;
	font-size: 15px;
	font-weight: 700;
	padding-bottom: 10px;
}

.challenge-small-link {
	font-size: 11px;
}

.challenge-user-link {
	font-size: 14px;
	font-weight: 700;
}

.challenge-status-text {
	color: #666;
	font-size: 14px;
	font-weight: 700;
}

.challenge-form {
	font-size: 12px;
	font-weight: 400;
}

/* Admin-only link for cancelling the challenge */
a.challenge-admin-cancel-link {
	color: #990;
}

.challenge-terms-container {
	border-collapse: collapse;
	padding: 0;
}

.challenge-terms {
	border-collapse: collapse;
	padding: 0;
	width: 300px;
}

.challenge-line {
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
	max-width: 800px;
}
